.wrapper{
    display: flex;
    border: solid black 1px;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    position: relative;
    padding-top: 50px;
}
.mainTitle{
    position: absolute;
    top: -45px;
    left: 45px;
    background-color: white;
    font-size: 24px;
    text-align: left;
}
.img{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}
.imgUrl{
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.title{
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.description{
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    height: 100px;
    resize: none;
}
.priceWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;}
.price{
    border-radius: 5px;
    font-size: 16px;
    width: 25%;
}
.text{
    font-size: 16px;
    margin: 0;
    text-align: left;
}
.btn{
    align-self: end;
    margin-top: auto;
    background-image: linear-gradient(225deg, rgba(0,0,255, 0.5), rgba(0,0,255,0.7));
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 2px 2px;
    font-size: 16px;
    padding: 5px 20px;
    border: none;

}
.btn:hover{
    background-image: linear-gradient(225deg, rgba(0,0,255,0.4), rgba(0,0,255,0.6));
}
.btn:active{
    transform: translatey(2px);
    box-shadow: none;
}