.wrapper{
}
.pageLinkActive{
    color: rgb(255,255,255) ;
    background-image: linear-gradient(225deg, rgba(0,0,255, 0.6), rgba(0,0,255,0.7));
    padding: 3px 10px;
    border: none ;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 2px 2px;
}
.pageLink{
    color: rgba(0,0,255,0.7);
    border: none;
    padding: 3px;
    cursor: pointer;
}
.pagination{
    list-style-type: none;
    font-size: 20px;
    margin: 0;
}

.pagination li{
    float: left;
}
.previous {
    margin-left: 10px;
}

.next{
    margin-right: 10px;
}